@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins", sans-serif;
}

/* scrollbar css */
/* width */
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #fafafa;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #4D9EE9;
    border-radius: 10px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #000000;
}


.special-box-shadow {
    transition: all ease 0.3s;
    /* box-shadow: 0 1px 2px 0 #59656e4d, 0 1px 3px 1px #3c404326; */
    box-shadow: 0px 0px 0px 0px #4D9EE9, 0px 0px 3px 0px #4D9EE9;

}


@keyframes modal-slide-up {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal-animate-slide-up {
    animation: modal-slide-up 0.5s ease-out forwards;
}
